.main {
  display: flex;
  align-items: stretch; /* This ensures that both children (map and feed) stretch to fill the parent container's height */
}

.map {
  flex-grow: 2; /* This makes the map grow to fill extra space. The number is a proportion, so '2' means it will take up twice as much space as the feed if you set the feed's flex-grow to '1'. */
  /* You can also set a fixed width here if you prefer */
}

.feed {
  flex-grow: 1; /* This allows the feed to grow but at a smaller proportion than the map */
  /* Set additional styles for the feed here, such as padding, background-color, etc. */
  background-color: white;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  border-radius: 8px;
  border: 1px solid lightgray;
  overflow: hidden; /* This ensures that anything extending beyond the border-radius is clipped */
}

.imageContainer {
  position: relative;
  width: 100%; /* Fixed width */
  height: 250px; /* Fixed height */
  overflow: hidden; /* Ensures nothing goes outside the container */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Covers the container, keeping aspect ratio */
}

.priceTag {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  color: white;
  padding: 5px;
  font-size: 16px;
  border-top-right-radius: 8px;
}

.cardTitle, .cardSubtitle {
  margin: 8px; /* Add margin around the text */
  font-size: 16px; /* Adjust font size as necessary */
}

.cardSubtitle {
  color: gray;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
